* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header {
  height: 70px;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .container {
  justify-content: space-between;
}
header .logo {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
}
header .logo h1 {
  display: inline;
  font-size: 28px;
  color: #000;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
header .logo img {
  width: 38px;
  margin-bottom: 2px;
}
header nav {
  width: 30%;
  min-width: 250px;
}
header nav a {
  text-decoration-color: rgba(0, 0, 0, 0);
  text-underline-offset: 4px;
  color: #000;
}
header nav a:hover {
  text-decoration-color: #000;
}
header nav a:active {
  text-decoration-color: #be973f;
  color: #be973f;
}
header ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header ul li {
  list-style: none;
  display: inline;
  font-size: 14px;
  font-weight: medium;
  font-family: "Poppins", sans-serif;
}
header .services {
  width: 15%;
  min-width: 150px;
  display: flex;
  justify-content: space-between;
}
header .services a {
  width: 28px;
  height: 28px;
}

main {
  background-image: url(./src/background-img.svg);
  width: 100%;
  height: 89.4vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
main .container {
  justify-content: end;
}
main .banner {
  width: 500px;
  height: 355px;
  background-color: #FFF3E3;
  padding: 50px 30px 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .label {
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 12px;
}
main p {
  color: #000;
}
main .descr {
  font-size: 14px;
  font-weight: 500;
}
main h1 {
  font-size: 40px;
  color: #B88E2F;
  font-weight: bold;
  line-height: 50px;
  margin-bottom: 10px;
}
main button {
  width: 144px;
  height: 56px;
  border: none;
  background-color: #B88E2F;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

section.range {
  margin-top: 30px;
  text-align: center;
}
section.range span.text {
  width: 100%;
  margin-bottom: 20px;
}
section.range span.text h2 {
  font-size: 24px;
  color: black;
  font-weight: bold;
  line-height: auto;
  margin-bottom: 5px;
}
section.range span.text p {
  font-size: 14px;
  color: black;
  font-weight: regular;
  line-height: auto;
  margin-bottom: 0;
}
section.range .ranges {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
section.range .item {
  margin-bottom: 20px;
  cursor: pointer;
  padding-bottom: 10px;
  transition: 0.3s;
}
section.range .item:hover {
  box-shadow: 0px 3px 10px 2px rgba(171, 190, 209, 0.8);
  border-radius: 10px;
}
section.range .item span.img {
  width: 300px;
  height: 400px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: block;
  margin-bottom: 20px;
}/*# sourceMappingURL=index.css.map */