* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header {
  height: 70px;
  width: 100%;
  position: sticky;
  z-index: 1;
  box-shadow: 0px 4px 8px 0px rgba(171, 190, 209, 0.4);
  top: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .container {
  justify-content: space-between;
  align-items: center;
}
header .logo {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
}
header .logo h1 {
  display: inline;
  font-size: 28px;
  color: #000;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
header .logo img {
  width: 38px;
  margin-bottom: 2px;
}
header nav {
  width: 30%;
  min-width: 250px;
}
header nav a {
  text-decoration-color: rgba(0, 0, 0, 0);
  text-underline-offset: 4px;
  color: #000;
}
header nav a:hover {
  text-decoration-color: #000;
}
header nav a:active {
  text-decoration-color: #be973f;
  color: #be973f;
}
header ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header ul li {
  list-style: none;
  display: inline;
  font-size: 14px;
  font-weight: medium;
  font-family: "Poppins", sans-serif;
}
header .services {
  width: 15%;
  min-width: 150px;
  display: flex;
  justify-content: space-between;
}
header .services a {
  width: 28px;
  height: 28px;
}

main {
  background-image: url(./src/background-img.svg);
  width: 100%;
  height: 89.4vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
main .container {
  justify-content: end;
}
main .banner {
  width: 500px;
  height: 355px;
  background-color: #FFF3E3;
  padding: 50px 30px 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .label {
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 12px;
}
main p {
  color: #000;
}
main .descr {
  font-size: 14px;
  font-weight: 500;
}
main h1 {
  font-size: 40px;
  color: #B88E2F;
  font-weight: bold;
  line-height: 50px;
  margin-bottom: 10px;
}
main button {
  width: 144px;
  height: 56px;
  border: none;
  background-color: #B88E2F;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

section.range {
  margin-top: 30px;
  text-align: center;
}
section.range span.text {
  width: 100%;
  margin-bottom: 20px;
}
section.range span.text h2 {
  font-size: 24px;
  color: #3A3A3A;
  font-weight: bold;
  line-height: auto;
  margin-bottom: 5px;
}
section.range span.text p {
  font-size: 14px;
  color: #666666;
  font-weight: regular;
  line-height: auto;
  margin-bottom: 0;
}
section.range .ranges {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
section.range .item {
  margin-bottom: 20px;
  cursor: pointer;
  padding-bottom: 10px;
  transition: 0.3s;
}
section.range .item:hover {
  box-shadow: 0px 3px 10px 2px rgba(171, 190, 209, 0.8);
  border-radius: 10px;
}
section.range .item span.img {
  width: 300px;
  height: 400px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: block;
  margin-bottom: 20px;
}

section.our-products {
  text-align: center;
  margin-top: 10px;
}
section.our-products .container {
  margin-top: 30px;
  display: grid;
  grid-template-areas: "span1 span2 span3 span4";
  justify-content: space-between;
}
section.our-products .container .item {
  width: 200px;
  height: 330px;
  position: relative;
  padding-bottom: 20px;
  display: grid;
  margin-bottom: 20px;
  text-align: left;
  background-color: #F4F5F7;
}
section.our-products .container .item:hover .hover {
  display: flex;
}
section.our-products .container .item h3 {
  height: auto;
  color: #3A3A3A;
}
section.our-products .container .item h3 + p {
  font-size: 12px;
  opacity: 0.4;
}
section.our-products .container .item span.img {
  height: 220px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: end;
  padding: 10px 10px;
}
section.our-products .container .item span.img span {
  width: 35px;
  height: 35px;
  color: white;
  font-size: 12px;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  background-color: #E97171;
}
section.our-products .container .item span.img .new {
  background-color: #2EC1AC;
}
section.our-products .container .item .under {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.our-products .container .item .under span {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
section.our-products .container .item .under span .current-price {
  font-size: 16px;
  color: #3A3A3A;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0;
}
section.our-products .container .item .under span .old-price {
  font-size: 12px;
  color: #3A3A3A;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 0;
  opacity: 0.4;
  text-decoration: line-through;
}
section.our-products .container .hover {
  display: none;
  position: absolute;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
}
section.our-products .container .hover .container {
  justify-content: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 22%;
  padding: 0 15px;
}
section.our-products .container .hover .container button {
  width: 160px;
  height: 30px;
  border: none;
  transition: background-color 0.3s, color 0.3s, border 0.1s;
}
section.our-products .container .hover .container button:hover {
  border: 3px solid #be973f;
}
section.our-products .container .hover .container button:active {
  background-color: #be973f;
  color: #fff;
}
section.our-products .container .hover .container span.actions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
}
section.our-products .container .hover .container span.actions span.action {
  height: 20px;
  cursor: pointer;
  text-underline-offset: 4px;
}
section.our-products .container .hover .container span.actions span.action:hover {
  text-decoration: underline;
}
section.our-products .container .hover .container span.actions span.action:active {
  color: #be973f;
}
section.our-products .container .hover .container span.actions span.action span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: white;
}
section.our-products button {
  width: 200px;
  height: 35px;
  background-color: white;
  font-size: 14px;
  color: #be973f;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 0;
  border: 2px solid #be973f;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
section.our-products .container + button {
  margin-top: 10px;
}
section.our-products .container + button:hover {
  background-color: #be973f;
  color: #fff;
}
section.our-products .container + button:active {
  background-color: #9f7f35;
  border: none;
}

section.rooms {
  display: flex;
  margin: 40px 0;
  background-color: #FCF8F3;
  height: 410px;
  position: relative;
  flex-wrap: nowrap;
  padding: 30px 0 30px 0;
}
section.rooms .container {
  flex-wrap: nowrap;
  align-items: center;
  justify-content: start;
}
section.rooms div.title {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 220px;
  margin-left: 15%;
}
section.rooms div.title h2 {
  font-size: 30px;
  color: #3A3A3A;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 20px;
  display: flex;
  height: 80px;
}
section.rooms div.title p {
  font-size: 14px;
  color: #616161;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  height: 40px;
  display: flex;
}
section.rooms div.title button {
  width: 160px;
  height: 48px;
  background-color: #B88E2F;
  border: none;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0;
}
section.rooms .container-rooms {
  display: flex;
  flex-wrap: nowrap;
  right: 0px;
  width: 600px;
  overflow-x: hidden;
  justify-content: space-between;
  position: absolute;
}
section.rooms .container-rooms .room {
  width: 200px;
  flex-wrap: nowrap;
  flex-shrink: 0;
  height: 300px;
  margin-right: 20px;
  overflow: hidden;
  display: flex;
  align-items: end;
  transition: 0.3s;
  padding: 0 0 20px 20px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
section.rooms .container-rooms .room .content {
  width: auto;
  height: auto;
  display: none;
  align-items: end;
}
section.rooms .container-rooms .room .box {
  width: 190px;
  min-width: 190px;
  height: 100px;
  background-color: rgba(250, 250, 250, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 20px;
}
section.rooms .container-rooms .room p {
  font-size: 14px;
  color: #616161;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
}
section.rooms .container-rooms .room p span {
  width: 20px;
  background-color: #616161;
  height: 1px;
  display: flex;
  margin: 0 10px;
}
section.rooms .container-rooms .room h3 {
  font-size: 24px;
  color: #333333;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 0;
  display: flex;
  width: 150px;
}
section.rooms .container-rooms .room a {
  display: flex;
  width: 30px;
  min-width: 30px;
  height: 30px;
  background-color: #B88E2F;
  background-image: url(../../src/arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
  animation-timing-function: linear;
}
section.rooms .container-rooms .first {
  width: 300px;
  height: 350px;
}
section.rooms .container-rooms .first .content {
  display: flex;
  flex-wrap: nowrap;
  animation-name: box;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
section.rooms .next {
  width: 50px;
  height: 50px;
  right: 3%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  position: absolute;
  border-radius: 50px;
  background-image: url(../../src/next.svg);
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: -1px 4px 8px 0px rgba(171, 190, 209, 0.4);
  cursor: pointer;
}
section.rooms .circles {
  grid-area: circles;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 0px;
  z-index: 1;
  margin-top: 340px;
  margin-right: 223px;
}
section.rooms .circle {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
section.rooms .circle .inside {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: #cccccc;
}
section.rooms .active {
  border-color: #be973f;
}
section.rooms .active .inside {
  background-color: #be973f;
}

section.sharing .container {
  flex-wrap: wrap;
  align-items: center;
}
section.sharing img:nth-of-type(1) {
  width: 274px;
  height: 382px;
}
section.sharing img:nth-of-type(2) {
  width: 274px;
  height: 382px;
}
section.sharing img:nth-of-type(3) {
  width: 274px;
  height: 382px;
}
section.sharing img:nth-of-type(4) {
  width: 274px;
  height: 382px;
}
section.sharing img:nth-of-type(5) {
  width: 274px;
  height: 382px;
}
section.sharing img:nth-of-type(6) {
  width: 274px;
  height: 382px;
}
section.sharing img:nth-of-type(7) {
  width: 274px;
  height: 382px;
}
section.sharing img:nth-of-type(8) {
  width: 274px;
  height: 382px;
}
section.sharing img:nth-of-type(9) {
  width: 274px;
  height: 382px;
}

@keyframes box {
  0% {
    margin-left: 100%;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}/*# sourceMappingURL=index.css.map */